.chosen-container-multi .chosen-choices li.search-choice{
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 4px steelblue;
}
.chosen-container .chosen-results li.active-result{
    border-radius: 10px;
}
.chosen-container .chosen-results{
    overflow: hidden;
}
.chosen-container-multi .chosen-choices{
    width: 100%;
    font-size: 0.8rem;
    padding: 0.375rem 0.75rem;
    border-radius: 1.35rem;
    font-weight: 400;
    color: #6e707e;
    border: 1px solid #d1d3e2;
    background-color: #fff;
}
.select-gender{
    padding: 0rem 0rem 0rem 1rem!important;
    height: 3rem!important;
}
#timer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.timer {
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
    padding: 5px;
    font-weight: 800;
    margin: 10px 3px 10px 3px;
    border-radius: 8px;
}
.event-date{
    text-align: center;
    color: #000;
    margin-top: 2.5rem;
    margin-left: 10px;
}
.p-info{
    margin-left: 2rem;
    display: none;
}
@media only screen and (max-width: 400px) {
    select.form-control[size], select.form-control[multiple]{
        height: 2.6rem;
        padding: 12px 0px 10px 15px
    }
}
